Source: ros-noetic-openni2-launch
Section: misc
Priority: optional
Maintainer: Isaac I. Y. Saito <isaac.saito@plusonerobotics.com>
Build-Depends: debhelper (>= 9.0.0), python3-catkin-pkg, ros-noetic-catkin, ros-noetic-roslaunch
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-openni2-launch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-catkin-pkg, ros-noetic-depth-image-proc, ros-noetic-image-proc, ros-noetic-nodelet, ros-noetic-openni2-camera, ros-noetic-rgbd-launch, ros-noetic-rospy, ros-noetic-roswtf, ros-noetic-tf, usbutils
Description: Launch files to start the openni2_camera drivers using rgbd_launch.
