Source: ros-melodic-openni2-launch
Section: misc
Priority: extra
Maintainer: Isaac I. Y. Saito <isaac.saito@plusonerobotics.com>
Build-Depends: debhelper (>= 9.0.0), python-catkin-pkg, ros-melodic-catkin, ros-melodic-roslaunch
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-openni2-launch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-depth-image-proc, ros-melodic-image-proc, ros-melodic-nodelet, ros-melodic-openni2-camera, ros-melodic-rgbd-launch, ros-melodic-rospy, ros-melodic-roswtf, ros-melodic-tf, usbutils
Description: Launch files to start the openni2_camera drivers using rgbd_launch.
